snippet b "Another tired of typing (between xXx and xXx)"
(between ${1:xxx} and ${2:xxx} ${3})
endsnippet

snippet w "Another tired of typing (watched @ 1.5x)"
(watched @ ${1:1.5}x)
endsnippet

snippet fr "Another tired of typing (from xx:xx)"
(from ${1:00}:${2})
endsnippet

snippet tt "Another tired of typing ('til xx:xx)"
('til ${1:00}:${2})
endsnippet



