snippet f "My usual format for watching stuff. Tired of typing (watched @ 1.5x)" b
${3:whatchu watchin} (watched @ ${2:1.5}x) ${1:`!v strftime("%Y%m%d_%H%M%S")`}
endsnippet

snippet w "Another tired of typing (watched @ 1.5x)"
(watched @ ${1:1.5}x)
endsnippet

snippet fr "Another tired of typing (from xx:xx)"
(from ${1:00}:${2})
endsnippet

snippet tt "Another tired of typing ('til xx:xx)"
('til ${1:00}:${2})
endsnippet
